.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: 0;
  border-top: 3px solid transparent;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 0;
  border-top: 3px solid #0088ff;
}

.ant-layout-header {
  background-color: #fff;
  padding: 0;
  height: auto;
  margin-bottom: 12px;
  -webkit-box-shadow: -1px 1px 10px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -1px 1px 10px 4px rgba(0, 0, 0, 0.16);
  box-shadow: -1px 1px 10px 4px rgba(0, 0, 0, 0.16);
  line-height: normal;
}

.ant-menu-horizontal {
  float: right;
  border: 0;
}

.submenu-title-wrapper {
  text-align: center;
  display: inline-block;
  width: 144px;
  font-size: 14px;
  color: #393e47;
}

.ant-menu-submenu-title {
  padding: 0;
}

.header-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
  color: #003e74;
  margin-right: 50px;

  &:hover {
    cursor: pointer;
  }
}

.vaa-header {
  .ant-input-affix-wrapper {
    width: auto;
  }

  .ant-input {
    width: auto;
    border: none;
    margin-left: 10px;

    &:focus,
    &:hover {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: red;
    }
  }
}
